.common-header{
    padding: 5rem;
    text-align: center;
    color: #b85d1c;
}

.common-heading{
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .2rem;
}

.big-underline{
    margin-inline: auto;
}

@media screen and (max-width: 500px){
    .common-heading{
        font-size: 2rem;
    }

    .small-underline{
        width: 5rem;
    }

    .big-underline{
        width: 12rem;
    }
}